<template>
  <st-svg height="900" width="1920" style="user-select: none;">
    <st-svg-fon></st-svg-fon>
    <!--Шкала-->
    <st-svg-dial :end-range="36"
                 :radius="300"
                 :start-angle="-50"
                 :start-range="-16"
                 :step-deal="0.5"
                 :total="270"
                 x="960"
                 y="451"></st-svg-dial>
    <!--Дата и время-->
    <st-svg-data-field font-size="24"
                       height="60"
                       width="115"
                       x="960"
                       y="50"
                       :DateMy="valJson[0].Date"
                       :TimeMy="valJson[0].Time"></st-svg-data-field>
    <!--Кнопка сброс на 0-->
    <st-svg-button color="#42c6f654"
                   font-size="24"
                   height="60"
                   title="СБРОС НА 0"
                   width="180"
                   x="960"
                   y="590"
    ></st-svg-button>

    <st-svg-measurement color="#666666"
                        font-size="30"
                        height="92"
                        opacity="0.5"
                        :value="(this.valJson[0].F026).toFixed(2)"
                        width="150"
                        x="960" y="280"
    >Нагрузка по приводу | кН
    </st-svg-measurement>
    <!--Цена деления-->
    <st-svg-measurement color="#666666"
                        font-size="30"
                        height="92"
                        opacity="0.5"
                        value="0.5"
                        width="150"
                        x="960"
                        y="365"
    >Цена деления
    </st-svg-measurement>
    <!--Нагрузка цифра-->
    <st-svg-measurement color="#666666"
                        font-size="100"
                        height="200"
                        opacity="0"
                        unit="НАГРУЗКА | кН"
                        :value="this.valJson[0].F002"
                        width="300"
                        x="960"
                        y="440"
    ></st-svg-measurement>
    <!--Давление устьевое-->
    <st-svg-measurement color="#666666"
                        font-size="50"
                        :height="180"
                        width="310"
                        opacity="1"
                        :unit="nameMeasureUnit[0]"
                        :value="this.valJson[0].F000!==-1?(this.valJson[0].F000 * multiplier).toFixed(1):this.valJson[0].F000"
                        x="257"
                        y="172"
    >Давление устьевое
    </st-svg-measurement>
    <!--Давление циркуляции-->
    <st-svg-measurement color="#666666"
                        font-size="50"
                        :height="180"
                        width="310"
                        opacity="1"
                        :unit="nameMeasureUnit[1]"
                        :value="this.valJson[0].F001!==-1?(this.valJson[0].F001 * multiplier).toFixed(1):this.valJson[0].F001"
                        x="257"
                        y="380"
    >Давление циркуляции
    </st-svg-measurement>
    <!--Давление герметизатора-->
    <st-svg-measurement color="#666666"
                        font-size="50"
                        height="180"
                        width="310"
                        opacity="1"
                        :unit="nameMeasureUnit[2]"
                        :value="this.valJson[0].F006!==-1?(this.valJson[0].F006 * multiplier).toFixed(1):this.valJson[0].F006"
                        x="257"
                        y="580"
    >Давление герметизатора
    </st-svg-measurement>
    <!--Давление привода инжектора-->
    <st-svg-measurement color="#666666"
                        font-size="50"
                        height="180"
                        width="310"
                        opacity="1"
                        :unit="nameMeasureUnit[3]"
                        :value="this.valJson[0].F012!==-1?(this.valJson[0].F012 * multiplier).toFixed(1):this.valJson[0].F012"
                        x="257"
                        y="780"
    >Давление привода инжектора
    </st-svg-measurement>
    <!--РАСХОД АЗОТА|м3/час-->
    <st-svg-measurement color="#666666"
                        font-size="46"
                        height="120"
                        width="190"
                        opacity="1"
                        unit=""
                        :value="(this.valJson[0].F014).toFixed(2)"
                        x="620"
                        y="130"
    >РАСХОД АЗОТА | м3/час
    </st-svg-measurement>
    <!--РАСХОД НАСОСА|м3/час-->
    <st-svg-measurement color="#666666"
                        font-size="46"
                        height="120"
                        width="190"
                        opacity="1"
                        unit=""
                        :value="(this.valJson[0].F013).toFixed(2)"
                        x="1330"
                        y="130"
    >РАСХОД НАСОСА | м3/час
    </st-svg-measurement>
    <!--Давление напряжения цепи-->
    <st-svg-measurement color="#666666"
                        font-size="50"
                        height="180"
                        width="310"
                        opacity="1"
                        :unit="nameMeasureUnit[4]"
                        :value="this.valJson[0].F011!==-1?(this.valJson[0].F011 * multiplier).toFixed(1):this.valJson[0].F011"
                        x="1700"
                        y="172"
    >Давление напряжения цепи
    </st-svg-measurement>
    <!--Давление прижима верхних колодок-->
    <st-svg-measurement color="#666666"
                        font-size="50"
                        height="180"
                        width="310"
                        opacity="1"
                        :unit="nameMeasureUnit[5]"
                        :value="this.valJson[0].F008!==-1?(this.valJson[0].F008 * multiplier).toFixed(1):this.valJson[0].F008"
                        x="1700"
                        y="380"
    >Давление прижима верхних колодок
    </st-svg-measurement>
    <!--Давление прижима средних колодок-->
    <st-svg-measurement color="#666666"
                        font-size="50"
                        height="180"
                        width="310"
                        opacity="1"
                        :unit="nameMeasureUnit[6]"
                        :value="this.valJson[0].F009!==-1?(this.valJson[0].F009 * multiplier).toFixed(1):this.valJson[0].F009"
                        x="1700"
                        y="580"
    >Давление прижима средних колодок
    </st-svg-measurement>

    <!--Давление прижима нижних колодок-->
    <st-svg-measurement color="#666666"
                        font-size="50"
                        height="180"
                        width="310"
                        opacity="1"
                        :unit="nameMeasureUnit[7]"
                        :value="this.valJson[0].F010!==-1?(this.valJson[0].F010 * multiplier).toFixed(1):this.valJson[0].F010"
                        x="1700"
                        y="780"
    >Давление прижима нижних колодок
    </st-svg-measurement>
    <!--Расход кислотник|л.мин-->
    <st-svg-measurement color="#666666"
                        font-size="30"
                        height="84"
                        width="140"
                        opacity="1"
                        unit=""
                        :value="(this.valJson[0].F017).toFixed(2)"
                        x="970"
                        y="820"
    >Расход кислотник | л.мин
    </st-svg-measurement>
    <!--Скорость 1|м/мин-->
    <st-svg-measurement
        v-if="depth"
        color="#666666"
        font-size="30"
        height="160"
        width="233"
        opacity="1"
        unit=""
        :value="(this.valJson[0].F004).toFixed(2)"
        x="1330"
        y="820"
        stroke="#6CBF5A"
        stroke-width="3"
    >Скорость 1 | м/мин
    </st-svg-measurement>
    <!--Скорость 2|м/мин-->
    <st-svg-measurement
        v-if="!depth"
        color="#666666"
        font-size="30"
        height="160"
        width="233"
        opacity="1"
        unit=""
        :value="(this.valJson[0].F020).toFixed(2)"
        x="1330"
        y="820"
        stroke="#6CBF5A"
        stroke-width="3"
    >Скорость 2 | м/мин
    </st-svg-measurement>
    <!-- ГЛУБИНА 1|метры-->
    <st-svg-depth
        @click="depth = !depth"
        style="cursor: pointer"
        v-if="depth"
        :speed="(this.valJson[0].F004).toFixed(2)"
        color="#666666"
        font-size="30"
        height="160"
        width="233"
        opacity="1"
        unit=""
        :value="(this.valJson[0].F003).toFixed(2)"
        x="620"
        y="820"
        stroke="#6CBF5A"
        stroke-width="3"
    >ГЛУБИНА 1 | метры
    </st-svg-depth>
    <!-- ГЛУБИНА 2|метры-->
    <st-svg-depth
        style="cursor: pointer"
        @click="depth = !depth"
        v-if="!depth"
        :speed="(this.valJson[0].F020).toFixed(2)"
        color="#666666"
        font-size="30"
        height="160"
        width="233"
        opacity="1"
        unit=""
        :value="(this.valJson[0].F019).toFixed(2)"
        x="620"
        y="820"
        stroke="#6CBF5A"
        stroke-width="3"
    >ГЛУБИНА 2 | метры
    </st-svg-depth>
    <!--Месторождение-->
    <st-svg-measurement color="#666666"
                        width="890" height="50"
                        opacity="0.2" x="960" y="890"
                        font-size="20"
                        unit=""
                        :value="info">
    </st-svg-measurement>
    <!--Стрелка нагрузки-->
    <st-svg-arrow :radius="300" :start-angle="-50" :value="stSvgArrow" x="960" y="451"/>
    <!--Стрелка нагрузки конец-->

    <st-svg-arrow-blue :radius="300" :start-angle="-50" :value="stSvgArrowBlueMax" :value-text="valJson[0].F032" x="960"
                       y="451"/>
    <st-svg-arrow-blue :radius="300" :start-angle="-50" :value="stSvgArrowBlueMin" :value-text="valJson[0].F031" x="960"
                       y="451"/>
    <st-svg-arrow-range :radius="300" :start-angle="-50" :value="stSvgArrowRangeMax" :value-text="valJson[0].F035" max
                        x="960" y="451"/>
    <st-svg-arrow-range :radius="300" :start-angle="-50" :value="stSvgArrowRangeMin" :value-text="valJson[0].F034" min
                        x="960" y="451"/>
    <g transform="translate(940,710)">
      <st-svg-logo></st-svg-logo>
    </g>

    <st-svg-measurement v-if="flagAlarm"
                        color="#ad1010"
                        width="890" height="180"
                        opacity="0.7" x="975" y="780"
                        font-size="52"
                        unit=""
                        :value="AlarmText">
    </st-svg-measurement>
  </st-svg>
</template>

<script>
import StSvg from './index';
import StSvgMeasurement from './StSvgMeasurement';
import StSvgFon from "./StSvgFon";
import StSvgDial from "./StSvgDial";
import StSvgArrow from "./StSvgArrow";
import StSvgArrowBlue from "./StSvgArrowBlue";
import StSvgArrowRange from "./StSvgArrowRange";
import StSvgDataField from "./StSvgDataField";
import StSvgButton from "./StSvgButton";
import StSvgLogo from "./StSvgLogo";
import StSvgDepth from "./StSvgDepth";

export default {
  name: 'StScr',
  props: {
    valJson: {}
  },
  components: {
    StSvgArrowRange,
    StSvgArrowBlue,
    StSvgArrow,
    StSvg,
    StSvgMeasurement,
    StSvgFon,
    StSvgDial,
    StSvgDataField,
    StSvgButton,
    StSvgLogo,
    StSvgDepth
  },
  data: () => ({
    flagAlarm: false,
    AlarmText: 'Превышено что-то где-то',
    depth: true,
    multiplier: 10,
    nameMeasureUnit: [
      "БАР",
      "БАР",
      "БАР",
      "БАР",
      "БАР",
      "БАР",
      "БАР",
      "БАР",
    ]
  }),
  methods: {
    rotateObject: function (znach) {
      return Math.min(37, Math.max(-17, znach)) * (270 / Math.abs(36 + 16));//this.rotateObject(36, -16, 36, -83, 183)
    },
  },
  computed: {
    stSvgArrow() {
      // return this.rotateObject(this.valJson[0].F002, -16, 36, -80, 180)
      return this.rotateObject(this.valJson[0].F002 / 10);
    },
    stSvgArrowBlueMax() {
      let res = 0;
      if (this.valJson[0].F030 === 1) {
        let max = this.valJson[0].F002 + this.valJson[0].F032;
        res = this.rotateObject(max / 10);
      }
      return res;
    },
    stSvgArrowBlueMin() {
      let res = 0;
      if (this.valJson[0].F030 === 1) {
        let min = this.valJson[0].F002 - this.valJson[0].F031;
        res = this.rotateObject(min / 10);
      }
      return res;
    },
    info() {
      return `Месторождение: ${this.valJson[0].NameSkv} Куст: ${this.valJson[0].Kust} Скв: ${this.valJson[0].Skv}`;
    },
    stSvgArrowRangeMax() {
      let res = 0;
      if (this.valJson[0].F033 === 1) {
        res = this.rotateObject(this.valJson[0].F035 / 10);
      }
      return res;
    },
    stSvgArrowRangeMin() {
      let res = 0;
      if (this.valJson[0].F033 === 1) {
        res = this.rotateObject(this.valJson[0].F034 / 10);
      }
      return res;
    }
  },
}
</script>
