<template>
  <g :transform="setTranslate" v-on="$listeners">
    <rect rx="5" ry="5" :x="-width/2" :y="-height/2" :width="width" :height="heightBody" :fill="color"
          :opacity="opacity" :stroke="stroke" :stroke-width="strokeWidth"/>
    <text :x="0" :y="-5+fontSize/2 - height/4 +centerBody/2" :font-size="fontSize" fill="#FFF" font-weight="bold"
          text-anchor="middle">{{ value }}
    </text>
    <text :x="0" :y="-5+centerBody" :font-size="fontSize/3" fill="#CCC" text-anchor="middle" v-if="unit">{{ unit }}
    </text>
    <foreignObject :height="height/2" :width="width" :x="-width/2" :y="0" v-if="$slots.default">
      <div
          style="text-transform: uppercase; align-items: center; display: flex; justify-content: center;color: #CCC; text-align: center;"
          :style="{fontSize:fontSize/2.5+'px', height:height/2+'px'}">
        <div>
          <slot/>
        </div>
      </div>
    </foreignObject>
    <g transform="translate(-150, -60)" v-if="speed!==0">
      <polygon points="0,0 18,18 -18,18" fill="#6CBF5A" style="cursor: pointer" v-if="speed<0"></polygon>
      <g transform="rotate(180), translate(0,-45)">
        <polygon points="0,0 -18,18 18,18" fill="#F14943" style="cursor: pointer" v-if="speed>0"></polygon>
      </g>

    </g>
  </g>
</template>
<script>
export default {
  name: "StSvgDepth",
  props: {
    opacity: {default: 1},
    fontSize: {default: 18},
    x: {default: 0},
    y: {default: 0},
    value: {default: ''},
    unit: {default: ''},
    height: {
      default: 100
    },
    stroke: {
      default: 'none',
    },
    strokeWidth: {
      default: 0
    },
    width: {
      default: 300,
    },
    color: {
      default: '#666666',
    },
    speed: {},
  },
  computed: {
    setTranslate() {
      return `translate(${this.x}, ${this.y})`;
    },
    heightBody() {
      return this.$slots.default ? this.height / 2 : this.height;
    },
    centerBody() {
      return this.$slots.default ? 0 : this.height / 2;
    }
  },
}
</script>