<template>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         :viewBox="setViewBox"
         :width="width" :height="height" v-on="$listeners"
         style="width: 100%; height: 100%; background: black">
        <g v-if="grid" opacity="0.2" stroke="white" fill="white" font-size="12px">
            <rect x="0" y="0" :width="width-0" :height="height-0" fill="none" stroke-width="2"/>
            <g v-for="i in Math.round(width/100)">
                <line :x1="(i)*100" :x2="(i)*100" y1="0" :y2="height"/>
                <text :x="(i)*100+3" :y="16" stroke="none">{{(i)*100}}</text>
            </g>
            <g v-for="i in Math.round(height/100)">
                <line x1="0" :x2="width" :y1="(i)*100" :y2="(i)*100"/>
                <text :x="3" :y="(i)*100+16" stroke="none">{{(i)*100}}</text>
            </g>
            <g>


            </g>
        </g>
        <slot/>

    </svg>
    
</template>

<script>
    export default {
        name: "StSvg",

        props:{
            width:{
                default:800,
            },
            height:{
                default:600,
            },
            grid:{
                type:Boolean
            }
        },
        computed:{
            setViewBox(){
                return   `0 0 ${this.width} ${this.height}`;
            },
        },
    }
</script>

<style scoped>

</style>