<template>
  <g :transform="setTranslate">
    <rect :fill="color" :height="height" :width="width" :x="-width/2" :y="-height/2"
          rx="5" ry="5"/>
    <text :font-size="fontSize" :height="height" :width="width"
          :y="fontSize/2"
          class="text-rect"
          fill="#fff"
          style="text-transform: uppercase"
          text-anchor="middle"
          x="0">{{ title }}
    </text>
  </g>
</template>
<script>
export default {
  name: "StSvgButton",
  props: {
    fontSize: {},
    width: {},
    height: {},
    title: {},
    color: {},
    x: {},
    y: {},
  },
  computed: {
    setTranslate() {
      return `translate(${this.x}, ${this.y})`

    },
  },
}
</script>