<template>
  <g opacity="0.93">
    <path opacity="0.13"
          d="M17.7671 0.598934C20.2671 0.498934 22.7671 0.598934 25.2671 1.09893C26.8671 1.39893 28.3671 1.89892 29.9671 2.39892C40.6671 6.09892 48.6671 15.0989 51.1671 26.1989C50.2671 26.4989 49.2671 26.799 48.2671 26.999C45.4671 13.899 34.1671 4.29893 20.6671 3.59893C20.6671 4.99893 20.6671 6.39895 20.6671 7.79895C27.7671 8.19895 34.3671 11.5989 38.8671 17.0989C41.4671 20.1989 43.267 23.999 44.067 27.999L43.7671 28.1989C40.6671 28.9989 37.5671 29.8989 34.4671 30.6989C33.9671 28.0989 32.9671 25.6989 31.2671 23.5989C28.7671 20.4989 25.1671 18.3989 21.1671 17.8989C18.7671 17.5989 16.367 17.7989 14.067 18.5989C5.96705 21.3989 1.5671 30.1989 4.3671 38.2989C6.6671 45.0989 13.2671 49.3989 20.3671 48.7989C24.8671 48.3989 28.967 46.0989 31.567 42.3989C30.367 41.6989 29.1671 40.9989 27.9671 40.2989C26.2671 42.4989 23.7671 43.999 20.9671 44.499C18.6671 44.899 16.3671 44.5989 14.2671 43.5989C10.5671 41.8989 8.06708 38.3989 7.66708 34.3989C7.56708 33.6989 7.56708 32.9989 7.66708 32.1989C8.26708 25.8989 13.7671 21.2989 19.9671 21.8989C22.1671 22.0989 24.1671 22.8989 25.8671 24.1989C26.6671 24.7989 27.3671 25.4989 27.9671 26.2989C29.1671 27.8989 29.9671 29.7989 30.2671 31.6989C29.3671 31.9989 28.3671 32.299 27.3671 32.499C27.2671 31.199 26.8671 29.9989 26.1671 28.8989C25.4671 27.9989 24.7671 27.0989 23.8671 26.3989C22.4671 25.2989 20.6671 24.7989 18.8671 24.8989C16.1671 24.8989 13.5671 26.199 11.9671 28.499C9.66707 31.799 10.0671 36.2989 12.8671 39.1989C14.1671 40.4989 15.7671 41.3989 17.6671 41.5989C19.8671 41.8989 22.0671 41.3989 23.8671 40.0989C25.2671 39.0989 26.2671 37.7989 26.8671 36.1989L35.567 41.1989C31.167 50.3989 20.0671 54.1989 10.9671 49.6989C1.86707 45.1989 -2.03293 34.1989 2.46707 25.0989C6.96707 15.9989 17.967 12.0989 27.067 16.5989C29.667 17.8989 31.8671 19.699 33.6671 21.999C34.8671 23.499 35.7671 25.199 36.3671 26.999C37.6671 26.699 38.9671 26.299 40.3671 25.999C39.9671 24.399 39.2671 22.899 38.3671 21.499C34.4671 15.099 27.6671 11.0989 20.1671 10.6989C19.2671 10.5989 18.467 10.5989 17.567 10.6989C17.667 7.29891 17.7671 3.99893 17.7671 0.598934V0.598934Z"
          fill="white"/>
    <path opacity="0.13" d="M47.467 35.3989H43.6671V50.999H41.067V35.3989H37.3671V32.8989H47.467V35.3989Z"
          fill="white"/>
    <path opacity="0.13"
          d="M55.467 47.299H50.6671L49.8671 50.8989H47.1671L51.6671 32.8989H54.467L58.967 50.8989H56.267L55.467 47.299ZM54.967 44.8989L53.8671 40.0989C53.5671 38.8989 53.3671 37.1989 53.1671 36.1989H53.067C52.967 37.1989 52.6671 38.8989 52.3671 40.0989L51.267 44.8989H54.967Z"
          fill="white"/>
    <path opacity="0.13"
          d="M64.767 43.0989L63.567 44.8989V50.999H60.967V32.999H63.567V40.799L64.767 38.6989L68.3671 32.999H71.3671L66.1671 40.8989L72.067 51.0989H69.067L64.767 43.0989Z"
          fill="white"/>
  </g>
</template>
<script>
export default {
  name: "StSvgLogo",
}
</script>