<template>
  <g :transform="setTranslate">
    <rect x="0" y="0" :width="width" :height="height" fill="#ccc" :opacity="opacity"/>
    <text :x="width/2"
          :font-size="fontSize"
          :y="(height)/2 +fontSize/4"
          :width="width"
          :height="height"
          text-anchor="middle"
          fill="#ccc"
          style="text-transform: uppercase">{{ title }}
    </text>
  </g>
</template>
<script>
export default {
  name: "StSvgTitle",
  props: {
    x: {},
    y: {},
    height: {},
    width: {},
    title: {},
    fontSize: {},
    opacity: {},
  },
  computed: {
    setTranslate() {
      return `translate(${this.x}, ${this.y})`
    }
  },
}
</script>