<template>
  <g :transform="setTranslate">
    <g :transform="angle" v-if="min">
      <polygon :points="pointsMin" stroke="#6cbf5a" fill="none" stroke-width="6"/>
      <g :transform="setTrans_min">
        <text y="4" font-size="12px" transform="rotate(-90)" text-anchor="end" fill="#0000FF">{{ valueText }}</text>
      </g>
    </g>
    <g :transform="angle" v-if="max">
      <polygon :points="pointsMax" stroke="#6cbf5a" fill="none" stroke-width="6"/>
      <g :transform="setTrans_max">
        <text y="4" font-size="12px" transform="rotate(-90)" text-anchor="end" fill="#0000FF">{{ valueText }}</text>
      </g>
    </g>
  </g>
</template>
<script>
export default {
  name: "StSvgArrowRange",
  props: {
    value: {},
    valueText: {},
    startAngle: {
      type: Number,
      default: -50
    },
    x: {
      default: 0
    },
    y: {
      default: 0
    },
    radius: {
      type: Number,
      default: 300.
    },
    max: {
      type: Boolean,
      default: false
    },
    min: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    angle() {
      return `rotate(${this.value + this.startAngle})`;
    },
    setTranslate() {
      return `translate(${this.x}, ${this.y})`;
    },
    pointsMin() {
      return `-3,-${this.radius} -25 -${this.radius - 25} -25, -${this.radius + 25}`;
    },
    pointsMax() {
      return `3,-${this.radius} 25 -${this.radius - 25} 25, -${this.radius + 25}`;
    },
    setTrans_min() {
      return `translate(-25, ${-this.radius})`;
    },
    setTrans_max() {
      return `translate(25, ${-this.radius})`;
    }
  },

}
</script>