<template>
  <g :transform="setTransform">
    <text :font-size="fontSize" :height="height/2" :width="width" fill="#cccccc" text-anchor="middle" x="0" y="0">
      {{ TimeMy }}
    </text>
    <text :font-size="fontSize*0.8" :height="height/2" :width="width" :y="height/2" fill="#cccccc" text-anchor="middle"
          x="0">{{ DateMy }}
    </text>
  </g>
</template>
<script>
export default {
  name: "StSvgDataField",
  props: {
    x: {},
    y: {},
    width: {},
    height: {},
    fontSize: {
      default: '',
    },
    TimeMy: {},
    DateMy: {}
  },
  data: () => ({}),
  beforeDestroy() {
    //clearInterval(this.timer);
  },
  mounted() {
    //this.timer = setInterval(() => this.getTime(), 500)
  },
  methods: {},
  computed: {
    setTransform() {
      return `translate(${this.x}, ${this.y})`;
    }
  },
}
</script>