<template>
  <g :transform="setTranslate">
    <g :transform="angle">
      <line x1="0" x2="0" :y1="-radius+40" :y2="-radius-20" stroke="#5d6eb2" stroke-width="8" fill="none"></line>
      <g :transform="setTrans">
        <text y="4" font-size="12px" transform="rotate(-90)" text-anchor="end" fill="#0000FF">{{ valueText }}</text>
      </g>
    </g>
  </g>
</template>
<script>
export default {
  name: "StSvgArrowBlue",
  props: {
    value: {},
    valueText: {},
    startAngle: {
      type: Number,
      default: -50
    },
    x: {
      default: 0
    },
    y: {
      default: 0
    },
    radius: {
      type: Number,
      default: 300.
    }
  },
  computed: {
    angle() {
      return `rotate(${this.value + this.startAngle})`;
    },
    setTranslate() {
      return `translate(${this.x}, ${this.y})`;
    },
    setTrans() {
      return `translate(0, ${-this.radius})`;
    }
  },
}
</script>