<template>
  <g :transform="setTranslate">
    <g :transform="angle">
      <polygon :points="points" fill="#F00"/>
    </g>
    <circle :r="radius-60" stroke="#F00" fill="none" stroke-width="10"></circle>
  </g>
</template>
<script>
export default {
    name: "StSvgArrow",
    props: {
        value: {},
        startAngle: {
            type: Number,
            default: -50
        },
        x: {
            default: 0
        },
        y: {
            default: 0
        },
        radius:{
            type: Number,
            default:300.
        }
    },
    computed: {
        angle() {
            return `rotate(${this.value+this.startAngle})`;
        },
        setTranslate() {
            return `translate(${this.x}, ${this.y})`;
        },
        points(){
            return `0,-${this.radius} 15 -${this.radius-60} -15, -${this.radius-60}`;
        },
    },
}
</script>