<template>
  <g :transform="setTranslate">
    <template v-for="range in deal">
      <g :transform="rotateAngle(range)" v-if="range%(stepDeal*8) === 0">
        <line stroke="#fff" stroke-width="8" x1="0" x2="0" :y1="-radius+30" :y2="-radius"></line>

      </g>
      <text
          :x="(radius+35) * Math.sin((angle(range)+startAngle)/180*Math.PI)"
          :y="16-(radius+35) * Math.cos((angle(range)+startAngle)/180*Math.PI)"
          fill="#FFF"
          font-size="38"
          text-anchor="middle"
          v-if="range%(stepDeal*8) === 0">
        {{ range }}
      </text>
      <g :transform="rotateAngle(range)"
         v-if="range%(stepDeal*4) === 0 && range%(stepDeal*8) !== 0">
        <line stroke="#fff" stroke-width="5" x1="0" x2="0" :y1="-radius+25" :y2="-radius"></line>
      </g>
      <text
          :x="(radius+35) * Math.sin((angle(range)+startAngle)/180*Math.PI)"
          :y="12-(radius+35) * Math.cos((angle(range)+startAngle)/180*Math.PI)"
          fill="#FFF"
          font-size="38"
          text-anchor="middle"
          v-if="range%(stepDeal*4) === 0 && range%(stepDeal*8) !== 0">
        {{ range }}
      </text>
      <g :transform="rotateAngle(range)"
         v-if="range%(stepDeal*4) !== 0 && range%(stepDeal*8) !== 0">
        <line stroke="#fff" stroke-width="2" x1="0" x2="0" :y1="-radius+20" :y2="-radius"></line>
      </g>
    </template>
  </g>
</template>
<script>
export default {
  name: "StSvgDial",
  props: {
    stepDeal: {
      type: Number,
      default: 0.5
    },
    total: {
      type: Number,
      default: 270
    },
    startAngle: {
      type: Number,
      default: -50
    },
    startRange: {
      type: Number,
      default: -16
    },
    endRange: {
      type: Number,
      default: 36
    },
    x: {
      default: 0
    },
    y: {
      default: 0
    },
    radius: {
      type: Number,
      default: 300.
    }
  },
  methods: {
    angle(range) {
      return range * (this.total / Math.abs(this.endRange - this.startRange));
    },
    rotateAngle(range) {
      return `rotate(${this.angle(range) + this.startAngle})`;
    }
  },
  computed: {
    deal() {
      let arr = [];
      for (let a = this.startRange; a <= this.endRange; a += this.stepDeal) {
        arr.push(a);
      }
      return arr;
    },
    setTranslate() {
      return `translate(${this.x}, ${this.y})`;
    },
  },
}
</script>