<template>

    <st-svg height="900" width="1920" style="user-select: none;">
        <st-svg-fon></st-svg-fon>
        <!--Шкала-->
        <st-svg-dial :end-range="36"
                     :radius="300"
                     :start-angle="-50"
                     :start-range="-16"
                     :step-deal="0.5"
                     :total="270"
                     x="960"
                     y="451"></st-svg-dial>
        <!--Дата и время-->
        <st-svg-data-field font-size="24"
                           height="60"
                           width="115"
                           x="960"
                           y="50"
                           :DateMy="itemDate"
                           :TimeMy="itemTime"></st-svg-data-field>
        <!--Кнопка сброс на 0-->
        <st-svg-button color="#42c6f654"
                       font-size="24"
                       height="60"
                       title="СБРОС НА 0"
                       width="180"
                       x="960"
                       y="590"
        ></st-svg-button>

        <st-svg-measurement color="#666666"
                            font-size="30"
                            height="92"
                            opacity="0.5"
                            :value="(this.valJson[0].F026).toFixed(2)"
                            width="150"
                            x="960" y="280"
        >Нагрузка по приводу | кН
        </st-svg-measurement>
        <!--Цена деления-->
        <st-svg-measurement color="#666666"
                            font-size="30"
                            height="92"
                            opacity="0.5"
                            value="0.5"
                            width="150"
                            x="960"
                            y="365"
        >Цена деления
        </st-svg-measurement>
        <!--Нагрузка цифра-->
        <st-svg-measurement color="#666666"
                            font-size="100"
                            height="200"
                            opacity="0"
                            unit="НАГРУЗКА | кН"
                            :value="this.valJson[0].F002"
                            width="300"
                            x="960"
                            y="440"
        ></st-svg-measurement>
        <!--Давление устьевое-->
        <st-svg-measurement color="#666666"
                            font-size="50"
                            :height="180"
                            width="310"
                            opacity="1"
                            :unit="nameMeasureUnit[0]"
                            :value="this.valJson[0].F000!==-1?(this.valJson[0].F000 * multiplier).toFixed(1):this.valJson[0].F000"
                            x="257"
                            y="172"
        >Давление устьевое
        </st-svg-measurement>
        <!--Давление циркуляции-->
        <st-svg-measurement color="#666666"
                            font-size="50"
                            :height="180"
                            width="310"
                            opacity="1"
                            :unit="nameMeasureUnit[1]"
                            :value="this.valJson[0].F001!==-1?(this.valJson[0].F001 * multiplier).toFixed(1):this.valJson[0].F001"
                            x="257"
                            y="380"
        >Давление циркуляции
        </st-svg-measurement>
        <!--Давление герметизатора-->
        <st-svg-measurement color="#666666"
                            font-size="50"
                            height="180"
                            width="310"
                            opacity="1"
                            :unit="nameMeasureUnit[2]"
                            :value="this.valJson[0].F006!==-1?(this.valJson[0].F006 * multiplier).toFixed(1):this.valJson[0].F006"
                            x="257"
                            y="580"
        >Давление герметизатора
        </st-svg-measurement>
        <!--Давление привода инжектора-->
        <st-svg-measurement color="#666666"
                            font-size="50"
                            height="180"
                            width="310"
                            opacity="1"
                            :unit="nameMeasureUnit[3]"
                            :value="this.valJson[0].F012!==-1?(this.valJson[0].F012 * multiplier).toFixed(1):this.valJson[0].F012"
                            x="257"
                            y="780"
        >Давление привода инжектора
        </st-svg-measurement>
        <!--РАСХОД АЗОТА|м3/час-->
        <st-svg-measurement color="#666666"
                            font-size="46"
                            height="120"
                            width="190"
                            opacity="1"
                            unit=""
                            :value="(this.valJson[0].F014).toFixed(2)"
                            x="620"
                            y="130"
        >РАСХОД АЗОТА | м3/час
        </st-svg-measurement>
        <!--РАСХОД НАСОСА|м3/час-->
        <st-svg-measurement color="#666666"
                            font-size="46"
                            height="120"
                            width="190"
                            opacity="1"
                            unit=""
                            :value="(this.valJson[0].F013).toFixed(2)"
                            x="1330"
                            y="130"
        >РАСХОД НАСОСА | м3/час
        </st-svg-measurement>
        <!--Давление напряжения цепи-->
        <st-svg-measurement color="#666666"
                            font-size="50"
                            height="180"
                            width="310"
                            opacity="1"
                            :unit="nameMeasureUnit[4]"
                            :value="this.valJson[0].F011!==-1?(this.valJson[0].F011 * multiplier).toFixed(1):this.valJson[0].F011"
                            x="1700"
                            y="172"
        >Давление напряжения цепи
        </st-svg-measurement>
        <!--Давление прижима верхних колодок-->
        <st-svg-measurement color="#666666"
                            font-size="50"
                            height="180"
                            width="310"
                            opacity="1"
                            :unit="nameMeasureUnit[5]"
                            :value="this.valJson[0].F008!==-1?(this.valJson[0].F008 * multiplier).toFixed(1):this.valJson[0].F008"
                            x="1700"
                            y="380"
        >Давление прижима верхних колодок
        </st-svg-measurement>
        <!--Давление прижима средних колодок-->
        <st-svg-measurement color="#666666"
                            font-size="50"
                            height="180"
                            width="310"
                            opacity="1"
                            :unit="nameMeasureUnit[6]"
                            :value="this.valJson[0].F009!==-1?(this.valJson[0].F009 * multiplier).toFixed(1):this.valJson[0].F009"
                            x="1700"
                            y="580"
        >Давление прижима средних колодок
        </st-svg-measurement>

        <!--Давление прижима нижних колодок-->
        <st-svg-measurement color="#666666"
                            font-size="50"
                            height="180"
                            width="310"
                            opacity="1"
                            :unit="nameMeasureUnit[7]"
                            :value="this.valJson[0].F010!==-1?(this.valJson[0].F010 * multiplier).toFixed(1):this.valJson[0].F010"
                            x="1700"
                            y="780"
        >Давление прижима нижних колодок
        </st-svg-measurement>
        <!--Расход кислотник|л.мин-->
        <st-svg-measurement color="#666666"
                            font-size="30"
                            height="84"
                            width="140"
                            opacity="1"
                            unit=""
                            :value="(this.valJson[0].F017).toFixed(2)"
                            x="970"
                            y="820"
        >Расход кислотник | л.мин
        </st-svg-measurement>
        <!--Скорость 1|м/мин-->
        <st-svg-measurement
                v-if="depth"
                color="#666666"
                font-size="30"
                height="160"
                width="233"
                opacity="1"
                unit=""
                :value="(this.valJson[0].F004).toFixed(2)"
                x="1330"
                y="820"
                stroke="#6CBF5A"
                stroke-width="3"
        >Скорость 1 | м/мин
        </st-svg-measurement>
        <!--Скорость 2|м/мин-->
        <st-svg-measurement
                v-if="!depth"
                color="#666666"
                font-size="30"
                height="160"
                width="233"
                opacity="1"
                unit=""
                :value="(this.valJson[0].F020).toFixed(2)"
                x="1330"
                y="820"
                stroke="#6CBF5A"
                stroke-width="3"
        >Скорость 2 | м/мин
        </st-svg-measurement>
        <!-- ГЛУБИНА 1|метры-->
        <st-svg-depth
                @click="depth = !depth"
                style="cursor: pointer"
                v-if="depth"
                :speed="(this.valJson[0].F004).toFixed(2)"
                color="#666666"
                font-size="30"
                height="160"
                width="233"
                opacity="1"
                unit=""
                :value="(this.valJson[0].F003).toFixed(2)"
                x="620"
                y="820"
                stroke="#6CBF5A"
                stroke-width="3"
        >ГЛУБИНА 1 | метры
        </st-svg-depth>
        <!-- ГЛУБИНА 2|метры-->
        <st-svg-depth
                style="cursor: pointer"
                @click="depth = !depth"
                v-if="!depth"
                :speed="(this.valJson[0].F020).toFixed(2)"
                color="#666666"
                font-size="30"
                height="160"
                width="233"
                opacity="1"
                unit=""
                :value="(this.valJson[0].F019).toFixed(2)"
                x="620"
                y="820"
                stroke="#6CBF5A"
                stroke-width="3"
        >ГЛУБИНА 2 | метры
        </st-svg-depth>

        <st-svg-arrow :radius="300" :start-angle="-50" :value="stSvgArrow" x="960" y="451"/>
<!--        &lt;!&ndash;Стрелка нагрузки конец&ndash;&gt;-->

        <st-svg-arrow-blue :radius="300" :start-angle="-50" :value="stSvgArrowBlueMax" :value-text="1" x="960"
                           y="451"/>
        <st-svg-arrow-blue :radius="300" :start-angle="-50" :value="stSvgArrowBlueMin" :value-text="1" x="960"
                           y="451"/>
        <st-svg-arrow-range :radius="300" :start-angle="-50" :value="stSvgArrowRangeMax" :value-text="2" max
                            x="960" y="451"/>
        <st-svg-arrow-range :radius="300" :start-angle="-50" :value="stSvgArrowRangeMin" :value-text="2" min
                            x="960" y="451"/>


        <st-svg-measurement v-if="flagAlarm"
                            color="#ad1010"
                            width="890" height="180"
                            opacity="0.7" x="975" y="780"
                            font-size="52"
                            unit=""
                            :value="AlarmText">
        </st-svg-measurement>
    </st-svg>
</template>

<script>
    import StSvgArrowRange from "./components/StSvgArrowRange";
    import StSvgArrowBlue from "./components/StSvgArrowBlue";
    import StSvgArrow from "./components/StSvgArrow";
    import StSvgMeasurement from "./components/StSvgMeasurement";
    import StSvgFon from "./components/StSvgFon";
    import StSvgDial from "./components/StSvgDial";
    import StSvgDataField from "./components/StSvgDataField";
    import StSvgButton from "./components/StSvgButton";
    import StSvgLogo from "./components/StSvgLogo";
    import StSvgDepth from "./components/StSvgDepth";
    import StSvg from "./components/StSvg";
    export default {


        name: 'App',
        props: {

        },

        components: {
            StSvgArrowRange,
            StSvgArrowBlue,
            StSvgArrow,
            StSvg,
            StSvgMeasurement,
            StSvgFon,
            StSvgDial,
            StSvgDataField,
            StSvgButton,
            StSvgLogo,
            StSvgDepth
        },
        data: () => ({
            valJson:[{
                Company: 0,
                D000: "13.03.2022 17:45:12",
                Date: "13.03.2022",
                EverFocus_cam1: 0,
                EverFocus_cam2: 0,
                EverFocus_cam3: 0,
                EverFocus_cam4: 0,
                EverFocus_temperature: 0,
                EverFocus_totalRecordEnd: 0,
                EverFocus_totalRecordStart: 0,
                EverFocus_totalSize: 0,
                EverFocus_usageSize: 0,
                F000: 0.67,
                F001: 23.59,
                F002: 128.22,
                F003: 2751.58,
                F004: -6.69,
                F005: -25,
                F006: 3.46,
                F007: -25,
                F008: 7.41,
                F009: 7.4,
                F010: 7.42,
                F011: 4.4,
                F012: 10.53,
                F013: 0,
                F014: 15.8,
                F015: 0,
                F016: 0,
                F017: 123.5,
                F018: 0,
                F019: 0,
                F020: 0,
                F021: 0,
                F022: 8.97,
                F023: 0,
                F024: 7.97,
                F025: 0,
                F026: 0,
                F027: 1.27,
                F028: 0.51,
                F029: 0,
                F030: 1,
                F031: 30,
                F032: 30,
                F033: 1,
                F034: 0,
                F035: 177,
                F036: 0,
                F037: 0,
                F038: 0,
                F039: 0,
                F040: 0,
                F041: 0,
                F042: 0,
                F043: 0,
                F044: 0,
                F045: 0,
                F046: 0,
                F047: 0,
                F048: 0,
                F049: 0,
                F050: 0,
                F051: 0,
                F052: 0,
                F056: 0,
                F057: -25,
                F058: 0,
                F060: -25,
                F061: -25,
                IDSession: 1646954925590,
                IDSessionSPO: 1646954931769,
                INN: 6432005462,
                KPP: 241145001,
                Kust: 6,
                Latitude: 678065,
                Longitude: 834186,
                MakerTube: 0,
                Mr: 0,
                NumAvto: 0,
                SerialInj: 0,
                SerialTube: 21,
                Skv: 968,
                TabelNum: 0,
                Time: "17:45:12",
                TypeWork: 0,
                actualDate: true,
                dateADD: 2022,
                id: 2958966,
                timeZone: 7,

            }],
            interval: undefined,
            itemDate:undefined,
            itemTime:undefined,
            flagAlarm: false,
            AlarmText: 'Превышено что-то где-то',
            depth: true,
            multiplier: 10,
            nameMeasureUnit: [
                "БАР",
                "БАР",
                "БАР",
                "БАР",
                "БАР",
                "БАР",
                "БАР",
                "БАР",
            ]
        }),
        beforeDestroy() {
            clearInterval(this.interval);
        },
        mounted() {
            this.interval = setInterval(() => {
                this.getTopDate();
            }, 1000);


        },
        methods: {
            rotateObject: function (znach) {
                return Math.min(37, Math.max(-17, znach)) * (270 / Math.abs(36 + 16));//this.rotateObject(36, -16, 36, -83, 183)
            },
            getTopDate() {
                let date = new Date();
                let dd = date.getDate();
                if (dd < 10)
                    dd = '0' + dd;
                let mm = date.getMonth() + 1;
                if (mm < 10)
                    mm = '0' + mm;
                let yy = date.getFullYear();
                let HH = date.getHours();
                if (HH < 10) {
                    HH = '0' + HH;
                }
                let min = date.getMinutes();
                if (min < 10) {
                    min = '0' + min;
                }
                let sec = date.getSeconds();
                if (sec < 10) {
                    sec = '0' + sec;
                }
                this.itemDate = `${dd}-${mm}-${yy}`;
                this.itemTime=`${HH}:${min}:${sec}`;
            },
        },
        computed: {
            stSvgArrow() {
                // return this.rotateObject(this.valJson[0].F002, -16, 36, -80, 180)
                return this.rotateObject(this.valJson[0].F002 / 10);
            },
            stSvgArrowBlueMax() {
                let res = 0;
                if (this.valJson[0].F030 === 1) {
                    let max = this.valJson[0].F002 + this.valJson[0].F032;
                    res = this.rotateObject(max / 10);
                }
                return res;
            },
            stSvgArrowBlueMin() {
                let res = 0;
                if (this.valJson[0].F030 === 1) {
                    let min = this.valJson[0].F002 - this.valJson[0].F031;
                    res = this.rotateObject(min / 10);
                }
                return res;
            },
            info() {
                return `Месторождение: ${this.valJson[0].NameSkv} Куст: ${this.valJson[0].Kust} Скв: ${this.valJson[0].Skv}`;
            },
            stSvgArrowRangeMax() {
                let res = 0;
                if (this.valJson[0].F033 === 1) {
                    res = this.rotateObject(this.valJson[0].F035 / 10);
                }
                return res;
            },
            stSvgArrowRangeMin() {
                let res = 0;
                if (this.valJson[0].F033 === 1) {
                    res = this.rotateObject(this.valJson[0].F034 / 10);
                }
                return res;
            }
        },

    }
</script>
<style>
    html {
        overflow-y: auto !important;
    }

    .st-no-user-select {
        user-select: none;
    }

    .st-absolute-fullscreen {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .st-background-dark {
        background-color: var(--st-primary);
    }

    *::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background-color: inherit;
    }

    *::-webkit-scrollbar-button {
        /*background-color: red;*/
        /*width: 0;*/
        /*height: 0;*/
    }

    *::-webkit-scrollbar-track {
        background-color: inherit;
    }

    *::-webkit-scrollbar-track-piece {
        background-color: inherit;
    }

    *::-webkit-scrollbar-corner {
        background-color: inherit;
    }

    *::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: none;
        border-radius: 5px;
    }

    :root {
        --st-primary: #3B3432;
        --st-device-ok: #00791e;
        --st-device-error: #dd0000;
        --st-device-service-mode: #808080;
        --st-fill-select: rgba(156, 189, 255, 0.3);
        --st-stroke-select: rgba(156, 189, 255, 0.5);
        --st-fill-error: rgba(255, 44, 44, 0.3);
        --st-stroke-error: rgba(255, 44, 44, 0.5);
    }
    .cls-1,.cls-42{fill:none;}.cls-2,.cls-3,.cls-41,.cls-43{fill:#696c6b;}.cls-2{clip-rule:evenodd;}.cls-4{fill:#101010;}.cls-5{clip-path:url(#clip-path);}.cls-6{opacity:0.85;}.cls-7{fill:#151515;}.cls-8{opacity:0.67;}
    .cls-9{font-size:20.02px;fill:#606060;}.cls-29,.cls-36,.cls-9{font-family:RobotoCondensed-Regular, Roboto Condensed;}.cls-10{letter-spacing:-0.01em;}.cls-11{letter-spacing:0.13em;}.cls-12{letter-spacing:-0.01em;}
    .cls-13{letter-spacing:-0.01em;}.cls-14{letter-spacing:0.13em;}.cls-15{letter-spacing:-0.01em;}.cls-16,.cls-36,.cls-40,.cls-45,.cls-47{fill:#fff;}.cls-16{opacity:0.74;}.cls-17{letter-spacing:-0.04em;}.cls-18{letter-spacing:-0.02em;}
    .cls-19{letter-spacing:-0.01em;}.cls-20{letter-spacing:-0.01em;}.cls-21{letter-spacing:0em;}.cls-22{letter-spacing:-0.02em;}.cls-23{letter-spacing:-0.05em;}.cls-24{letter-spacing:0.21em;}.cls-25{letter-spacing:0.21em;}
    .cls-26{letter-spacing:-0.01em;}.cls-27{letter-spacing:-0.04em;}.cls-28{letter-spacing:-0.05em;}.cls-29{font-size:37.37px;}.cls-29,.cls-39{fill:#ffe12f;}.cls-30{letter-spacing:-0.05em;}.cls-31{letter-spacing:-0.02em;}
    .cls-32{letter-spacing:0.01em;}.cls-33{letter-spacing:-0.04em;}.cls-34{letter-spacing:-0.01em;}.cls-35{opacity:0.7;}.cls-36{font-size:29.58px;}.cls-37{letter-spacing:-0.01em;}.cls-38{opacity:0.86;}.cls-41{fill-rule:evenodd;}
    .cls-42{stroke:#fff;stroke-miterlimit:10;stroke-width:0.75px;}.cls-43{opacity:0.62;font-size:25.05px;}.cls-43,.cls-47{font-family:RobotoCondensed-Bold, Roboto Condensed;font-weight:700;}.cls-44,.cls-45,.cls-46{font-family:RobotoCondensed-Light, Roboto Condensed;font-weight:300;}
    .cls-46{fill:#f7e046;}.cls-47{opacity:0.87;font-size:117.87px;letter-spacing:0.19em;}.cls-48{opacity:0.38;}.cls-49{clip-path:url(#clip-path-2);}.cls-50{clip-path:url(#clip-path-3);}


</style>
